@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/49/06/cute-food-background-kawaii-cartoons-vector-20294906.jpg");
  font-family: "Comfortaa", cursive;
}

#gisMeDinner {
  display: block;
  text-align: center;
  background-color: rgba(240, 46, 46, 0.8);
  width: 75%;
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
}
