.header {
  text-align: center;
  background-color: rgb(255, 165, 0);
  width: 75%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
}

.randomButton {
  text-align: center;
}

#ingredients {
  width: 90vw;
  background-color: whitesmoke;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: lightgrey solid 0.1em;
}

.list {
  list-style-type: none;
}

.list > li {
  margin-left: -35px;
}

#instructions {
  width: 90vw;
  background-color: whitesmoke;
  display: block;
  margin: 1em auto;
  border-radius: 20px;
  border: lightgrey solid 0.1em;
}

#instructions > p {
  padding: 10px;
}

#mealtitle {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  margin: 1em auto;
  border-radius: 20px;
  padding: 1%;
  border: lightgrey solid 0.1em;
}
